<%- include('../../header') -%>

<div class="container" ng-app="covers_admin">
	<div class="row">
		<%- include('../../sidebar') -%>

		<div class="col-xs-9" ng-controller="main_controler">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="fl_r">
						<button type="button" class="btn btn-xs btn-default">Сохранить</button>
						<button type="button" class="btn btn-xs btn-default">Сбросить</button>
					</div>
					<h3 class="panel-title">
						<i class="fa fa-filter"></i> <b>Фильтры</b> 
						<span class="label label-default">{{covers.length}}</span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<b>Статус:</b> 
								<div class="btn-group">
									<button type="button" ng-class="{'active': filter.status === ''}" ng-click="filter.status = ''" class="btn btn-xs btn-default">Все</button>
									<button type="button" ng-class="{'active': filter.status === 1}" ng-click="filter.status = 1" class="btn btn-xs btn-default">Работает</button>
									<button type="button" ng-class="{'active': filter.status === 0}" ng-click="filter.status = 0" class="btn btn-xs btn-default">Отключена</button>
								</div>
							</div>
							<!-- <div class="form-group">
								<b>Статус заморозки:</b> 
								<div class="btn-group">
									<button type="button" ng-class="{'active': filter.freeze_status === 0}" ng-click="filter.freeze_status = 0" class="btn btn-xs btn-default">0</button>
									<button type="button" ng-class="{'active': filter.freeze_status === 1}" ng-click="filter.freeze_status = 1" class="btn btn-xs btn-default">1</button>
									<button type="button" ng-class="{'active': filter.freeze_status === 2}" ng-click="filter.freeze_status = 2" class="btn btn-xs btn-default">2</button>
								</div>
							</div> -->

							<!-- <div class="form-group">
								<b>Присутствуют виджеты:</b>
								<button type="button" ng-class="{'active': filter.widgets == 'donationalerts_donation_goal'}" ng-click="filter.widgets == 'donationalerts_donation_goal' ? filter.widgets = '' : filter.widgets = 'donationalerts_donation_goal'" class="btn btn-xs btn-default">Статистика донатов</button> 
							</div> -->


						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label for="input-id"><b>Поиск:</b></label>
								<input type="text" class="form-control" placeholder="MDK">
							</div>
						</div>
					</div>
				
				</div>
			</div>


			<div class="row row-5">
				<!-- <div class="col-xs-6" ng-repeat="(i, cover) in _covers = (covers | filter: filter)"> -->
				<div class="col-xs-6" ng-repeat="(i, cover) in covers">
					<div class="cover_li clearfix" style="margin-bottom: 10px;">
						<img ng-src="/uploads/cover_for_vk/{{cover.main_image}}" width="100%">

						<div class="cover_info">
							<img ng-src="{{userGroups[cover.group_id].photo || 'https://vk.com/images/community_50.png' }}">
							<b>{{userGroups[cover.group_id].name}}</b>

							<div class="reload_interval">
								<i class="fa fa-refresh"></i> 
								<span ng-if="cover.reset_type == 'cron'">раз в {{cover.interval_d}} минут</span>
								<span ng-if="cover.reset_type != 'cron'">через Callback API</span>
							</div>

							<div class="clearfix" style="margin: 5px 0 10px;">
								<span class="label label-default">uid {{cover.uid}}</span> 
								<span class="label label-default">виджеты: {{cover.widgets.length}}</span>
							</div>

							<div class="btn-group1">
								<a href="{{ userGroups[cover.group_id].group_url }}" target="_blank" class="btn btn-sm btn-default">Группа</a>
								<a href="/cabinet/edit_cover/{{ cover.secret_key }}" target="_blank" class="btn btn-sm btn-default">Редактировать</a>
								<button class="btn btn-sm btn-default btn_test_cover" data-cover="{{cover.secret_key}}" data-toggle="tooltip" data-original-title="Загрузить обложку в группу">
									<i class="fa fa-upload fa-tw"></i>
									<i class="fa fa-spinner fa-pulse fa-fw" style="display: none;"></i>
								</button>

								<div class="fl_r" style="position: relative; padding-top: 5px;">
									<a ng-if="cover.freeze_status == 1" href="/auth/vk" style="text-decoration: none;"><span class="label label-info" data-toggle="tooltip" data-original-title="У вас устарел token. Вам необходимо повторно авторизироватся на сайте. Кликните чтобы сделать это!"><i class="fa fa-tw fa-snowflake-o"></i> 1</span></a>
									<span ng-if="cover.freeze_status == 2" class="label label-info" data-toggle="tooltip" data-original-title="У вас устарел token. Кликните чтобы обновить его"><i class="fa fa-tw fa-snowflake-o"></i> 2</span>

									<span ng-if="cover.status == 1" class="label label-success" style="margin-left: 5px;">работает</span>
									<span ng-if="cover.status == 0" class="label label-warning" style="margin-left: 5px;">отключено</span>
								</div>
							</div>
						</div>
					</div><!-- end cover_li -->
				</div><!-- end col-xs-6 -->



			</div><!-- row -->
		</div>

	</div> <!-- end container row -->
</div>


<script>
	var covers = <%- JSON.stringify(covers) %>;
	var userGroups = <%- JSON.stringify(userGroups) %>;
</script>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="/js/admin_ang.js"></script>


<%- include('../../footer') -%>