<%- include('../../header') -%>
<% 
var sum = 0;
for(var i in payments) {
	sum += payments[i].sum;
}
%>

<div class="container">
	<div class="row">
		<%- include('../../sidebar') -%>

		<div class="col-xs-9">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row metriki">

						<div class="col-xs-3 metriki-col">
							Сегодня<br>
							<p><%= metriki[0][0] %></p>
							<p class="ref" style="font-weight: bold;"><%= metriki[0][1] %> <i class="fa fa-rub"></i></p>
						</div>

						<div class="col-xs-3 metriki-col">
							За неделю<br>
							<p><%= metriki[1][0] %></p>
							<p class="ref" style="font-weight: bold;"><%= metriki[1][1] %> <i class="fa fa-rub"></i></p>
						</div>

						<div class="col-xs-3 metriki-col">
							За месяц<br>
							<p><%= metriki[2][0] %></p>
							<p class="ref" style="font-weight: bold;"><%= metriki[2][1] %> <i class="fa fa-rub"></i></p>
						</div>

						<div class="col-xs-3 metriki-col">
							За 3 месяца<br>
							<p><%= metriki[3][0] %></p>
							<p class="ref" style="font-weight: bold;"><%= metriki[3][1] %> <i class="fa fa-rub"></i></p>
						</div>
						
					</div>
				</div>
			</div>

			
			<div class="panel panel-default" id="chart">
				<div class="panel-body">
						<chartjs-line :height="100" :labels="mylabels" :data="mydata"></chartjs-line>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<b style="padding-top: 5px;
    display: inline-block;
    font-size: 15px;">Операции со счетами <span class="label label-primary"><%= payments.length %></span> <span class="label label-primary"><%= sum %></span> рублей</b>

					<button style="float: right;" class="btn btn-sm btn-primary" onclick="$('#direct_pay').modal('show')">Зарегистрировать платёж</button>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>Пользователь</th>
							<th>Сумма</th>
							<th>Кол-ва ресурсов</th>
							<th>Дата</th>
							<th>Действия</th>
						</tr>

						<% for(var i in payments) { %>
							<tr>
								<td><a href="https://vk.com/id<%= payments[i].vk_id %>" target="_blank"><%= payments[i].vk_id %></a></td>
								<td><%= payments[i].sum %> рублей</td>
								<td><%= payments[i].resources %></td>
								<td><%= payments[i].date %></td>
								<td><a href="#" class="btn btn-xs btn-danger remove_pay" data-id="<%= payments[i].id %>">Удалить</a></td>
							</tr>
						<% } %>

					</table>
				</div>
			</div>
		</div>

	</div> <!-- end container row -->
</div>



<div class="modal fade" id="direct_pay">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Регистрация платежа</h4>
			</div>
			<div class="modal-body">
				<form action="#">
					<div class="control-label">
						<b>VK ID</b><br>
						<input type="text" class="form-control" name="vk_id">
					</div> <br>
					<div class="control-label">
						<b>Сумма</b><br>
						<input type="text" class="form-control" name="sum">
					</div><br>
					
					<button type="button" id="send_direct_pay" class="btn btn-success">Отправить</button>
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
<script src="//vue-charts.hchspersonal.tk/js/vue-charts.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.min.js"></script>
<script>
	var labels = [];
	var reg_data = []
	
	for (let i=0; i<90; i++) {
		labels.push(i+1);
		reg_data.push(0);
	}

	$(document).ready(function () {
		var trUsers = $('.table tr:not(:first-child)');
		var dateStrings = {};

		$.each(trUsers, function (i, val) {

			if(dateStrings.length > 90) return false;

			var loadDataString = $('td', this)[3];
			loadDataString = $(loadDataString).text();

			var summ = $('td', this)[1];
			summ = parseFloat($(summ).text().replace(' рублей', ''));
			
			var date = new Date(loadDataString);
			var dateString = date.getMonth()+'_'+date.getDate()+'_'+date.getFullYear();

			if(!dateStrings[dateString]) dateStrings[dateString] = 0;
			dateStrings[dateString] += summ;
		});

		console.log(dateStrings)

		var offset = 0;
		$.each(dateStrings, function (i, val) {
			if(offset >= 90) return false;

			offset += 1;
			reg_data[reg_data.length - offset] = val;
		});

		
		Vue.use(VueCharts);
		const app = new Vue({
			el: '#chart',
			data: {
				mylabels: labels,
				mydata: reg_data
			}
		});
	});
</script>

<script>
$(document).ready(function () {
	send_direct_pay.onclick = function() {
		$.ajax({
			type: "post",
			url: "/payments/direct/",
			data: {
				vk_id: $('[name="vk_id"]').val(),
				sum: $('[name="sum"]').val()
			},
			success: function (response) {
				if(response == 'OK')
					location.reload();
			}
		});
	}



	$('.remove_pay').click(function (e) { 
		e.preventDefault();
		var payId = $(this).data('id');
		
		var test = confirm('Подтвердите удаление платежа из базы!')
		if(test) {
			$.ajax({
				type: "post",
				url: "/payments/remove_pay/",
				data: {
					id: payId
				},
				success: function (response) {
					if(response == 'OK')
						location.reload();
				}
			});
		}
	});
});
</script>


<%- include('../../footer') -%>